@{
    ViewBag.Title = "Azure 70-532 Deploy on Azure";
}

<div class="jumbotron">
    <h1>Deployed on Azure (develop)</h1>
    <p class="lead">Testing Asp .Net web application deployment on Azure.</p>
</div>

<div>
    <img alt="some_text" src="~/Resources/ws_Azure_Ocean_Rocks_Islands_Sun_1920x1200.jpg" style="width:1140px;height:500px;" />
</div>
